@charset "utf-8";

.edit-task {
  max-width: 500px;
  margin: 24px auto;
}

.edit-task-form {
  margin: 25px 0;
  color: #555555;
}

.edit-task-title,
.edit-task-detail,
.edit-task-limit {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.delete-task-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-task-button {
  background-color: #242F9B;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  margin-left: 8px;
}

.radio-done {
  margin-left: 8px;
}

.error-message {
  color: #ff3333;
}

// タブレット用スタイル
@container layout (320px < width <= 768px) {
  .edit-task {
    min-width: auto;
    padding: 0 16px;
  }
}

// スマホ用スタイル
@container layout (width <= 320px) {
  .edit-task {
    min-width: auto;
    padding: 0 16px;
    font-size: 14px;
  }
}
