@charset "utf-8";

.signin {
  max-width: 500px;
  margin: 24px auto;

  &-form {
    margin: 25px 0;
  }

  &-button {
    background-color: #242F9B;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
}

.email-label,
.password-label {
  color: #555555;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.error-message {
  color: #ff3333;
}

// タブレット用スタイル
@container layout (320px < width <= 768px) {
  .signin {
    min-width: auto;
    padding: 0 16px;
  }
}

// スマホ用スタイル
@container layout (width <= 320px) {
  .signin {
    min-width: auto;
    padding: 0 16px;
    font-size: 14px;
  }
}
